<p>product-list works!</p>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <a class="glyphicon glyphicon-log-in" class="navbar-brand"  routerLink ="/login" routerLinkActive="active">Login</a>
      <a class="navbar-brand" routerLink ="/login" routerLinkActive="active">Registration</a>
  </div>
</nav>
<!-- <button (click)="View()">Viewprods</button><br><br> -->

<span *ngFor="let p of prods ">
    
   <!-- Name: {{p.Name}}<br>
   stockLeft    {{p.stock}}<br>
   ProductType {{p.TypeId}}<br>
   Price {{p.UnitPrice}}<br>
ProductId    {{p.id}}<br>
    imageURl    {{p.images1}}<br>
    Proddesc {{p.proddesc}} -->

</span>
<span>
<span *ngFor="let p of prods ">
<div class="card mb-4 shadow-sm">
    <img width="200px" height="100px" [src]="p.images1" alt="Image not available"/>
  
    <div class="card-body">
      <p class="card-text">
        <strong>{{ p.UnitPrice | currency:'INR' }}</strong>
      </p>
      <p class="card-text">{{ p.Name }}</p>
      <p class="card-text">{{p.proddesc}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary product-btn" (click)="buy(p)">BUY</button>
        </div>
      </div>
    </div>
  </div>
  </span>
</span>