<p>login works!</p>


<table>
    <tr>
        <td>UserName</td>
        <td><input type="text" [(ngModel)] = Username placeholder="UserName"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="text" [(ngModel)] = Password placeholder="Password"></td>
    </tr>
    <tr><td><button (click)="Login()">Login</button></td></tr>
</table>
<br>
{{msg}}
<!-- Logged In!!
Customerid: <span>{{cust|json}}</span> -->
<!--{{cust.id}} -->
<hr>
<!-- {{carddetails|json}}
<div *ngIf = "valuefound">
   custId:{{cust.id}}
   FullName: {{cust.FirstName}}
   PhoneNumber: {{cust.Phone}}

   <b>CardDeetails</b>
   CardNumber: {{carddetails.CardNmber}}
</div> -->

<!-- {{cust|json}}
{{card|json}} -->
<br>
<!--{{card[0].cvv}}-->


<!-- <p *ngFor= "let i of carddetails">
    <span *ngFor = "let j of i.CardTypeMaster">
        {{j.id}} <br>
        {{}}

    </span>

</p> -->

