<nav class="navbar navbar-expand-lg navbar-dark bg-primary">  
  <img width="70px" height="50px"src="https://as2.ftcdn.net/jpg/02/72/10/77/500_F_272107701_4hCMMzS29094hxUXtSOxwxdaJi2xZVdT.jpg" alt="Italian Trulli">
  &nbsp;&nbsp;
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  </div>
</nav>


<!-- 
 <table>
    <tr>
        <td>UserName</td>
        <td><input type="text" [(ngModel)] = Username placeholder="UserName"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="text" [(ngModel)] = Password placeholder="Password"></td>
    </tr>
    <tr><td><button (click)="Login()">Login</button></td></tr>
</table>
<br>
{{msg}} -->

<!-- 
  <div class="main">
    <p class="sign primary " align="center">Log in</p>
    
      <input class="un " type="text" align="center" [(ngModel)] = Username placeholder="Username"/>
      <input class="pass" type="password" align="center"  [(ngModel)] = Password placeholder="Password"/>
      <button class="submit btn btn-primary" align="center" (click) = "Login()">Sign in</button>
       <br/>
       <br/>
       <p align ="center"><a href="#">Register</a></p>
       
       <p align ="center"><a  routerLink ="/security">Forget Password</a></p>
    </div>  -->


    <!------ NEW CODE   -->

    <div class="main">    
<div class="container">
  <div class="row">
      <div class="col-md-8 mx-auto">
          <div class="card">
              <div class="card-header">
                  <h3 >User Login Form</h3>
              </div>
              <div class="card-body">
                  <form class="form" #registerForm="ngForm"
                      (ngSubmit)="registerForm.form.valid" novalidate>
                      
                      <div class="form-group">
                          <label>User Name</label>
                          <input type="text" class="form-control" [(ngModel)]="Username" name="username"
                              #username="ngModel" appValidateUserName required>
                          <span class="text-danger"
                              *ngIf="(username.touched || registerForm.submitted) && username.errors?.required">
                              User Name is required
                          </span>
                          <span class="text-danger" *ngIf="username.touched && username.errors?.userNameNotAvailable">
                              User Name not available
                          </span>
                      </div>
                      <div class="form-group">
                          <label>Password</label>
                          <input type="password" class="form-control" [(ngModel)]="Password" name="password"
                              #password="ngModel" appPasswordPattern required>
                          <span class="text-danger"
                              *ngIf="(password.touched || registerForm.submitted) && password.errors?.required">
                              Password is required
                          </span>
                      </div>
                      <div class="form-group">
                          <button (click)="Login()" type="submit" class="btn btn-primary">Login</button>
                      </div>
                  </form>
              </div>
          </div>
          <a class="navbar-brand" routerLink ="/register" routerLinkActive="active">Register</a>
          <a class="navbar-brand" routerLink ="/security" routerLinkActive="active">Forgot Password</a>  
      </div>
  </div>
</div>



</div>