body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.main {
  background-color: #FFFFFF;
  width: 70%;
  height: 600px;
  margin: 3em auto;
  border-radius: 10px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.user{
  
  text-align: center;
  font-size: 20px;
  width: 50%;
  
}

.ques{
  
  color: rgb(58, 68, 73);
  font-weight: 700;
  font-size: 14px;    
  letter-spacing: 1px;
  background: rgba(110, 98, 98, 0.04);    
  border: none;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  padding: 10px 10px;
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Ubuntu', sans-serif;
  
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border-radius: 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.submit {
  cursor: pointer;
    border-radius: 10px;
    color: White;
    /* background: linear-gradient(to right, #9C27B0, #E040FB); */
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    position : relative;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 0%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}