<div class= "main">
   
    <div align = "center" class="sign">
    <br/>    
    <label class = "user">Enter the username</label>    
    <br/>    
    <input class = "ques" type="text"  [(ngModel)] = "Username"  placeholder="username" required >
    
    <label class = "user">1. What was the name of your first pet?</label>
    <input class = "ques" type="text"  [(ngModel)] = "Ans1" placeholder="enter your answer" required>
    
    <label class = "user">2. What is your favorite food?</label>
    <input  class = "ques" type="text" [(ngModel)] = "Ans2" placeholder="enter your answer" required>
    <label class = "user">3. What city were you born in?</label>
    <input  class = "ques" type="text"  [(ngModel)] = "Ans3" placeholder="enter your answer" required>
    <br>
    <button (click) = "Next()" class="submit btn btn-primary" > Next </button>

</div>

</div>




<!-- <div class= "main">
   
    <div align = "center" class="sign">
    <br/>    
    <table>
        <tr>
            <td>
                <label class = "user">Enter the username</label>    
            </td>
            <td><input class = "ques" type="text"  [(ngModel)] = "Username"  placeholder="username" required ></td>
        </tr>
      
    <tr>
        <td>
            <label class = "user">1. What was the name of your first pet?</label>
        </td>
        <td>
            <input class = "ques" type="text"  [(ngModel)] = "Ans1" placeholder="enter your answer" required>
        </td>
    </tr>
    <tr>
        <td> <label class = "user">2. What is your favorite food?</label></td>
        <td><input  class = "ques" type="text" [(ngModel)] = "Ans2" placeholder="enter your answer" required> </td>
    </tr>
    <tr>
        <td>
            <label class = "user">3. What city were you born in?</label>
        </td>
        <td>
            <input  class = "ques" type="text"  [(ngModel)] = "Ans3" placeholder="enter your answer" required>
        </td>
    </tr>
    

    <button (click) = "Next()" class="submit" > Next </button>
</table>
</div> -->

<!-- </div> -->
