<p>dashboard works!</p>
{{custdata}}
{{card}}
<h6>custdata</h6>

<button (click) = 'fetch()'>Fetch Card Details</button><br>
<button (click) = 'ViewProducts()'>View Products</button><br>

<span *ngFor = "let i of card">
<!-- cardNUmber: {{i.CardNmber}} <br>
Name: {{i.Name}} <br>
Status: {{i.Satus}} <br>
Card Limit: {{i.CardTypeMaster.limit}} <br>
Criedit Used : {{(i.CardTypeMaster.limit)- (i.balence)}} <br>
Criedit Balanece : {{i.balence}} <br>
Expiry Data: {{i.ExpiraDate}}
CardType: {{i.CardTypeMaster.Type}} -->

</span>
<br> <br>

<body>
<br><br><br>
<h2>DashBoard</h2>
        <section class="container" style="border:1px solid #cecece;"  >
            <br>

        <span  *ngFor = "let i of card">
            <div align = "center">
            <div id="Card" align="center">
                <div class="container">
                <span id="icon">LFi</span> <br>
                CardNumber:&nbsp;{{i.CardNmber}} <br>
                Name:&nbsp;{{i.Name}} <br>
                Valid Till: &nbsp; {{i.ExpiraDate}} <br>
                CARDTYPE: &nbsp; {{i.CardTypeMaster.Type}}
                </div>

            <div id="status-act" *ngIf = "i.Satus == 1" >
                <span align="Center">ACTIVATED</span>
            </div>
            <div id="status-deact" *ngIf = "i.Satus == 0">
                <span align="Center">DEACTIVATED</span>
            </div>
            </div>
        </div>

            <br>
            Totoal Crdit: {{i.CardTypeMaster.limit}} <br>
            Credit Used: {{(i.CardTypeMaster.limit)- (i.balence)}} <br>
            Remaining Credit:  {{i.balence}}  <br>
       

            <h5 align="Center">Products Purchased</h5>

            Recent Transaction:<br><br>

            <table  class="table">
                <thead class="thead-dark">
                    <tr align="center">
                        <th>PRODUCT</th>
                        <th>DATE</th>
                        <th>AMOUNT PAID</th>
                    </tr>
                </thead>
                <ng-container *ngFor = "let j of i.CustomerPurchasals" >
                 <tr>
                        <td> {{j.ProductId}} </td>
                         <td> <Date> {{j.PuchaseDate }} </Date> </td>
                        <td> {{j.BillAmount}} </td> 
                    </tr>
                </ng-container>
            </table>

        </span>

        </section>
</body>